body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 50vw;
    max-width: 300px;
}

.progressContainer {
    width: 100%;
    background-color: #ddd;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    height: 30px;  /* Added a fixed height to ensure the bar appears */
}

.barLabel {
    position: absolute;
    left: -70px; 
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

.progressBar {
    background-color: #4CAF50;
    width: 0%;
    height: 100%;
    border-radius: 20px;
    transition: width 0.1s linear, opacity 0.3s ease;
    opacity: 1;
}

p {
    text-align: center;
    font-size: 1.5em;
}
